@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container {
    scrollbar-width: auto;
    scrollbar-color: gray !important;
  }
  
  .scroll-container::-webkit-scrollbar {
    width: 1px;
   height: 1px;
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #c9c8c8;
    
    border-radius: 9999px;
    
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background-color: transparent;
  }